<html>
    <head>
        <title>Blogs | Saurabh Shubham</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
    </head>
    <body>
        <div class="ui container" style="margin-top: 100px;"><center>
            <h2>This page is under construction.</h2><br>
            <h4>Till then you can see my blogs on <a href="https://medium.com/@saurabh.friday" target="_blank">Medium.</a>
        </center></div>
    </body>
</html>