<!doctype html>
    <html class="no-js" lang=""> 
    <head>
        <meta charset="utf-8">
        <title>Saurabh Shubham</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="saurabh shubham, shubham saurabh, saurabh, shubham, saurabh0612, saurabh shubham Quora, saurabh shubham codechef">
		<meta name="description" content="Saurabh shubham is a CSE undergradurate student at Birla Institute of Technology Mesra (2015-2019)">
		<meta name="robots" content="index,follow">
		<meta name="copyright" content="saurabhshubham.com is owned by Saurabh Shubham.">
		<meta property="og:title" content="Saurabh Shubham" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://saurabhshubham.com/" />
		<meta property="og:title" content="Saurabh Shubham" />
		<meta property="og:description" content="Saurabh shubham is a CSE undergradurate student at Birla Institute of Technology Mesra (2015-2019)" />
		<meta property="og:image" content="https://saurabhshubham.com/public/pics/profile3.png">
        <link rel='icon' href="../public/pics/favi.png">
		<meta name="google-site-verification" content="HbiLlM8b3-bNelWLcmn6aj5k7XMT15tsySm2_STkEnw" />
		<meta name="referrer" content="origin">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="../public/apple-touch-icon.png">

        <link rel="stylesheet" href="../public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../public/css/templatemo-style.css">

        <script src="../public/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <nav class="nav">
          <div class="burger">
            <div class="burger__patty"></div>
          </div>

          <ul class="nav__list">
            <li class="nav__item">
              <a href="#1" class="nav__link c-blue"><img src="../public/img/home-icon.png" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#2" class="nav__link c-yellow scrolly"><img src="../public/img/about-icon.png" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#3" class="nav__link c-red"><img src="../public/img/projects-icon.png" alt=""></a>
            </li>
            <li class="nav__item">
              <a href="#4" class="nav__link c-green"><img src="../public/img/contact-icon.png" alt=""></a>
            </li>
          </ul>
        </nav>

        <section class="panel b-blue" id="1">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="home-content">
                      <div class="home-heading">
                        <h1><em>Saurabh Shubham</em> .com</h1>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="home-box-content">
                            <div class="left-text">
                              <h4>ABOUT <em>ME</em> </h4>
                              <p>Hey! I am <a href="https://www.linkedin.com/in/saurabh-shubham/" target="_blank">Saurabh Shubham.</a> I am a Third Year Undergraduate student of Computer Science Engineering Department. I write a lot of code! Most of the work I do is on GitHub, and the rest lies around waiting on my Hard Disk to be in good shape so I can push it out to the world.</p>
                              <div class="primary-button">
                                <a href="#2" style="margin: 5px;">Discover More</a><span class="primary-button" style="margin: 5px;"><a href="/beta-version" target="_blank">Beta Version</a></span>
                              </div>
                            </div>
                            <div class="right-image">
                              <img src="../public/img/right-home-image.png" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="panel b-yellow" id="2">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="about-content">
                      <div class="heading">
                        <h4>My online presence</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="about-box-content">
                            <img src="../public/img/about-image.png" alt="">
                          </div>
                        </div>
                        <div class="col-md-7 col-md-offset-5">
                          <div class="about-box-text">
                            <h4>You can find me on</h4>
							  <div style="">
								<a href="https://www.facebook.com/saurabh0612" target="_blank"><img src="../public/img/social-icons/facebook.png" class="social-icons" style="margin: 3px;"></a>
								<a href="https://twitter.com/iamsaurabh33" target="_blank"><img src="../public/img/social-icons/twitter.png" class="social-icons" style="margin: 3px;"></a>
								<a href="https://www.linkedin.com/in/saurabh-shubham/" target="_blank"><img src="../public/img/social-icons/linkedin.png" class="social-icons" style="margin: 3px;"></a>
								<a href="https://github.com/Saurabh3333" target="_blank"><img src="../public/img/social-icons/github-logo.png" class="social-icons" style="margin: 3px;"></a>
								<a href="https://www.quora.com/profile/Saurabh-Shubham-7" target="_blank"><img src="../public/img/social-icons/quora.png" class="social-icons" style="margin: 3px;"></a>
								<a href="https://medium.com/@saurabh.friday" target="_blank"><img src="../public/img/social-icons/medium.png" class="social-icons" style="margin: 3px;"></a>
								<a href="https://stackoverflow.com/users/6766158/saurabh-shubham" target="_blank"><img src="../public/img/social-icons/stack-overflow.png" class="social-icons" style="margin: 3px;"></a>
							  </div>
                            <p>I love <a href="https://nodejs.org/en/" style="color: #337ab7;" target="_blank">Node.js</a>, <a href="https://getbootstrap.com/" style="color: #337ab7;" target="_blank">Bootstrap</a>, <a href="https://semantic-ui.com/" style="color: #337ab7;" target="_blank">Semantic UI</a> and <a href="https://expressjs.com/" style="color: #337ab7;" target="_blank">ExpressJS</a>. In general, everything web, android and open-source.  I have been developing Node.js applications since 2016, and have not looked for a more versatile, robust, back-end framework. I was an avid user of PHP before that.</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>READ <span style="color: #fa5252;">•</span> WRITE <span style="color: #fa5252;">•</span> CODE</h4>
                            <div class="primary-button">
                              <a href="#3">Discover More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="panel b-red" id="3">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="projects-content">
                      <div class="heading">
                        <h4>Accomplishments</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="owl-carousel owl-theme projects-container">
                            <div>
                              <div class="project-item">
                                <a href="https://medium.com/@saurabh.friday" target="_blank"><img src="../public/img/project-item-01.jpg" alt=""></a>
                                <div class="text-content">
                                  <h4>Blogs</h4>
                                  <p>I wrote at various places before settling on this setup. Like a true content creator, I wrote a blog post even about the fact that I wrote in various places using various tools.</p>
                                  <div class="primary-button">
                                    <a href="https://medium.com/@saurabh.friday" target="_blank">VIEW ON MEDIUM</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="https://github.com/Saurabh3333" target="_blank"><img src="../public/img/project-item-02.jpg" alt=""></a>
                                <div class="text-content">
                                  <h4>Projects</h4>
                                  <p>VS Code, Cmder, git and Firefox are the major parts of my daily setup! Ubuntu is the OS I have been using for the past few years.<br>Most of my projects are open source on my Github profile. There is also a description of my internship projects. </p>
                                  <div class="primary-button">
                                    <a href="https://github.com/Saurabh3333" target="_blank">VIEW ON GITHUB</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="project-item">
                                <a href="/cv" target="_blank"><img src="../public/img/project-item-03.jpg" alt=""></a>
                                <div class="text-content">
                                  <h4>Resume</h4>
                                  <p>Coffee-lover! A strong cup of coffee at any point of time of the day boosts my spirits! I read a lot, and watch almost the same amount of TV. I like science fiction, Bollywood romantic and the classics.<br>For more information about my studies and work experience, please see the attached résumé.</p>
                                  <div class="primary-button">
                                    <a href="/cv" target="_blank">VIEW ON DRIVE</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!----------------------------------------------------------------- -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
        <section class="panel b-green" id="4">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="contact-content">
                      <div class="heading">
                        <h4>Contact me</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="contat-form">
                            <form id="contact" method="POST" action="http://formspree.io/saurabh.friday@gmail.com">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                              </fieldset>
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Email" required="">
                              </fieldset>
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                              <fieldset>
                                <button type="submit" id="form-submit" class="btn">Send Message</button>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="more-info">
                            <p><b>Want to reach in old style?</b> <br>
                            <em>Room no: 358, Boys Hostel 2, Birla Institute of Technology Mesra, Patna campus
								<br>Patna, Bihar, 800014</em>
							    <br><b>Phone:</b> +91 9973286609</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="footer">
                      <p>Copyright &copy; Saurabh Shubham 2018 
                      | Made with <span id="heart" style="color: red;">&hearts;</span> in India.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
      

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../public/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="../public/js/vendor/bootstrap.min.js"></script>

        <script src="../public/js/plugins.js"></script>
        <script src="../public/js/main.js"></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
