<!DOCTYPE html>
<html>
<head>
	<title>Saurabh Shubham</title>
	<meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link rel="stylesheet" href="../public/styles/symantec.css" />
	<link rel='icon' href="../public/pics/favi.png">
	<meta name="google-site-verification" content="HbiLlM8b3-bNelWLcmn6aj5k7XMT15tsySm2_STkEnw" />
</head>
<body>dfydrtyrty
	<div class="ui fluid container"><center>
		<img class="ui small circular image" src="../public/pics/profile.png">
	      <h2 style="color: #3b5998;font-family: 'Alegreya',serif;font-size: 30px;font-weight: bold;margin-right: 2px;">Hi! I'm Saurabh Shubham</h2>
	</div></center>
</body>
</html>