<html>
    <head>
        <title>Projects | Saurabh Shubham</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="saurabh shubham, shubham saurabh, saurabh, shubham, saurabh0612, saurabh shubham Quora, saurabh shubham codechef">
        <meta name="description" content="Saurabh shubham is a CSE undergradurate student at Birla Institute of Technology Mesra (2015-2019)">
        <meta name="robots" content="index,follow">
        <meta name="copyright" content="saurabhshubham.com is owned by Saurabh Shubham.">
        <meta property="og:title" content="Saurabh Shubham" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://saurabhshubham.com/" />
        <meta property="og:title" content="Projects | Saurabh Shubham" />
        <meta property="og:description" content="Saurabh shubham is a CSE undergradurate student at Birla Institute of Technology Mesra (2015-2019)" />
        <meta property="og:image" content="https://saurabhshubham.com/public/pics/profile3.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
        <meta name="google-site-verification" content="HbiLlM8b3-bNelWLcmn6aj5k7XMT15tsySm2_STkEnw" />
    </head>
    <body>
        <div class="ui container" style="margin-top: 100px;"><center>
            <h2>This page is under construction.</h2><br>
            <h4>Till then you can see my projects on <a href="https://github.com/Saurabh3333" target="_blank">GitHub.</a>
        </center></div>
    </body>
</html>